body {
    background: #eee;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 340px;
    height: 400px;
    margin-left: -170px;
    margin-top: -200px;
    text-align: center;
}

.sr-only{
    border:1px solid #177cb0;
    border-radius: 5px;
    display: block;
    width: 120px;
    background-color: cornflowerblue;
}
.form-control{
    width: 320px;
    height: 30px;
}
#input, #inputpassword {
    margin: 10px 0;
    background-color: antiquewhite;;
}

#submit {
    margin-top: 10px;
    display: block;
    border-radius: 5px;
    width:320px;
}

.visitor {
    display: inline-block;
    margin-top: 20px;
}
a:link {
    text-decoration: none;

}
a:hover{
    color: salmon;
}

.c_center {
    text-align: center;
}

.c_left {
    text-align: left;
}

.c_right {
    text-align: right;
}

.f_div {
    float: left;
}

.r_div {
    float: right;
}

.head_line {
    border-bottom: 1px solid #177cb0;
}

.inline {
    display: inline;
    float: left;
    margin-left: 23px;
    margin-right: 25px;
    margin-bottom: 20px;
}

#main {
    width: 68%;
}

#content {
    text-align: center;
    clear: both;
}


#list {
    margin-top: 10px;
}

#tag {
    margin-top: 50px;
}

.register{
    margin-top: 10px;
    font-size: 20px;
    width: 100px;
    height: 40px;
}
.bt{
    color: #ffffff;
}